* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: Arial, sans-serif;
    background-color: #0b0b0b;
    color: #d4f1be; 
}

.header img {
    width: 100%;
    height: auto;
    border-bottom: 3px solid #014421; 
}

.menu ul {
    display: flex;
    list-style: none;
    background-color: #111;
}

.menu li {
    margin: 0;
    padding: 15px 20px;
}

.menu a {
    color: #2ecc71;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}

.menu a:hover {
    color: #1f6e46; 
}


.contenu {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 20px;
    padding: 20px;
}

.article {
    background-color: #1a1a1a; 
    padding: 20px;
    border-radius: 10px;
    border-left: 5px solid #014421; 
}

.article h1 {
    margin-bottom: 15px;
    color: #014421;
}


.explication {
    background-color: #222; 
    padding: 15px;
    border-radius: 10px;
    border-left: 5px solid #014421; 
}

.explication p {
    margin-bottom: 10px;
    color: #66a67c;
}


.footer {
    background-color: #111;
    color: #10db72; 
    text-align: center;
    padding: 15px;
    margin-top: 20px;
    border-top: 3px solid #1f6e46; 
}
