p {
  text-align: center;
  font-weight: bold;
  color: orange;
}
header img {
  border: 3px solid gray;
  margin-bottom: 3em;
}
h1,
h2 {
  color: red;
}
.conteneur {
  display: flex;
  flex-direction: column;
}
