body{
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

.header{
    background-color: #1c0cad;
    color: white;
    padding: 15px 10px 30px 10px; 
    
    position: fixed; 
    top: 0;           
    left: 0;          
    width: 100%;      
    z-index: 100;     
}

.container{
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    gap: 20px; 
    
    margin-top: 70px; 
    padding: 10px;

    grid-template-areas: 
        "sidebar box1 box2 box3"
        "sidebar content content content"
        "footer footer footer footer";
}

.sidebar {
    grid-area: sidebar;
    background-color: #1c0cad;
    padding: 20px;
    color: white;
    height: 400px;
}

.box1 {
    grid-area: box1;
    background-color: #1c0cad;
    color: white;
    padding: 20px;
    min-height: 100px;
    max-height: 100px; 
}

.box2 {
    grid-area: box2;
    background-color: #1c0cad;
    color: rgb(255, 255, 255);
    min-height: 100px;
    padding: 20px;
    max-height: 100px; 
}

.box3 {
    grid-area: box3;
    background-color: #1c0cad;
    color: white;
    padding: 20px;
    max-height: 100px; 
    min-height: 100px;
}

.content {
    grid-area: content;
    background-color: #1c0cad;
    padding: 20px;
    color: white;
    height: 240px;
}

.footer {
    grid-area: footer;
    background-color: #1c0cad;
    color: white;
    padding: 10px;
    height: 75px;
}