body {
  display: grid;
  grid-template-columns: 80px 400px 1fr 250px; 
  grid-template-rows: 10% 1fr;
  height: 100vh;
  margin: 0;      
  font-family: Arial, sans-serif;
}

nav {
  grid-column: 1 / 2;
  grid-row: 1 / 3;      
  background-color: #096285;
  display: flex; 
  justify-content: center; 
  padding: 35px 20px 0 20px;
  color: white;   
}

menu {
  grid-column: 2 / 5; 
  grid-row: 1 / 2;
  background-color: #48ff00;
  display: flex;
  gap: 10px;  
  margin: 0;
  padding: 10px;
  align-items: center;
}

menu button {
  background-color: rgba(36, 80, 25, 0.4); 
  border: none;
  max-height: 40%;
  padding: 8px 16px;   
  font-size: 14px;     
  transition: background-color 0.3s;
  color: rgb(241, 241, 241);
}

menu button.poubelle {
  margin-left: auto; 
  background-color: rgb(209, 32, 32);  
  color: rgb(241, 241, 241);           
}


section {
  grid-column: 2 / 3; 
  grid-row: 2 / 3;
  background-color: #f9f9f9;
  overflow: scroll;
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: center;
}

section div {
  background-color: #bbbaba;
  min-height: 100px;  
  width: 85%;
  padding: 10px;            
  margin: 0 auto;           
  display: flex;
  align-items: center;      
  justify-content: center;      
}


main {
  grid-column: 3 / 4;
  grid-row: 2 / 3;
  background-color: #f8f8f8;
  padding: 10px;
  text-align: center;
}

aside {
  grid-column: 4 / 5;
  grid-row: 2 / 3;
  background-color: #e0dfde;
  padding: 10px;
  text-align: center;
}
