#h1 {
  color: #007bff;
  margin: 2rem;
}

div {
  font-size: 1.1rem;
  width: 70%;
  margin: 2rem auto;
  padding: 1rem;
  min-height: 100px;
  border: 1px solid #aa2233;
  box-shadow: 4px 4px 10px #93a1a1;
  background-color: #dddddd;
}

div:nth-child(even) {
  font-size: 1.4rem;
}

span {
  display: inline-block;
  color: red;
  width: 250px;
  margin: 1rem;
  padding: 2rem;
  border: 1px dashed deeppink;
}
