html {
  background-color: #e0e0e0;
  font-family: Helvetica, sans-serif;
  padding: 0 7%;
}

body {
  background-color: #f6fcea;
  max-width: 60em;
  margin: 2em auto;
}

header h1 {
  display: block;
  padding: 30px;
  background-color: rgb(156, 42, 42);
  color: white;
  text-align: center;
  font-family: "Times New Roman", Times, serif;
  text-transform: uppercase;
  font-size: 150%;
}

section {
  padding: 0 25px 5px;
}

section h2 {
  font-style: italic;
  font-family: serif;
  font-weight: bold;
}


.img-center {
  display: block;
  max-width: 100%; 
  height: auto;      
}

figure {
  max-width: 460px;
  margin: 30px auto;
  background: #fff;
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
}

figcaption {
  margin-top: 10px;
  margin-bottom: 15px;
  font-style: italic;
}

.ligne-rouge {
  width: 95%;
  height: 2px;
  background-color: rgb(156, 42, 42);
  margin: 20px auto; 
}

footer{
  background-color: #787976;
}
footer p{
  display: block;
  max-width: 90%;
  margin: 5% auto;
  background-color: #ffffff;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 15px;
  text-align: end;
}

