html {
  background-color: #e0e0e0;
  font-family: Helvetica, sans-serif;
  padding-right: 7%;
  padding-left: 7%;
}

body {
  background-color: #f6fcea;
  max-width: 60em;
  margin: 2em auto;
}
header h1 {
  display: block;
  padding: 30px;
  background-color: rgb(156, 42, 42);
  color: white;
  text-align: center;
  font-family: "Times New Roman", Times, serif;
  text-transform: uppercase;
  font-size: 150%;
}
#p1 {
  margin-bottom: 15px;
}
span {
  display: block;
  background-color: rgb(255, 254, 254);
  width: 60%;
  padding: 90px 1px 15px 1px;
  margin: auto;
  border: 2px solid rgb(0, 0, 0);
}

img {
  width: 90%;
  height: 90%;
  display: block;
  margin: 0 auto;
}
